3rdparties/
video-tagging/video-tagging/x64/
video-tagging/video-tagging/video-tagging.vcxproj.user
video-tagging/video-tagging/Debug/
video-tagging/x64/
video-tagging/ipch/
video-tagging/.vs/
video-tagging/video-tagging.VC.db
video-tagging/video-tagging.VC.VC.opendb
/video-tagging/description
/video-tagging/resource
/video-tagging/trainer
/video-tagging/trainer/data
/video-tagging/name.dat
/video-tagging/Vin_Diesel.dat
